# Params.sh

# params used in deployment scripts

# aws access
SSH_USERNAME=ec2-user
SSH_KEY=/Users/myuser/.ssh/awsmyuser
SSH_OPTS="-o StrictHostKeyChecking=no -i $SSH_KEY"

# rke2
#RKE2_VERSION="v1.27.10+rke2r1"
RKE2_VERSION="v1.28.12+rke2r1"
RKE2_TOKEN="myjointoken"

# rancher
# helm search repo rancher-prime --versions
RANCHERVERSION="2.9.0"
BOOTSTRAPADMINPWD=mybootistrapadminpwd
RANCHERADMINPWD=myadminpwd

# downstream cluster1
STORAGE_DEV1="nvme1n1"
STORAGE_DEV2="nvme2n1"

